.main-container {
    align-items: center;
    color: #832685;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.search-bar-container {
    margin-bottom: 2vh;
}

.button {
    color: #832685;
    background-color: #ddd;
    border: none;
    height: 4.25vh;
    transition: 0.3s;
    border-radius: 0.25rem;
}

.button:hover {
    background-color: rgb(189, 187, 187);
}

.button:disabled {
    opacity: 0.6;
    
}

.search-button:hover {
    background-color: rgb(187, 186, 186);
}